/*  General */

html {
    height: 100%;
}

body {
    font-family: Andale Mono, Trebuchet MS, Sans-Serif;
    font-size: 12px;
    margin: 0px 0px 0px 0px;
    padding: 50px 50px 50px 50px;
    height: 100%;
}

a {
    color: #000000;
    text-decoration: none;
}

a.active,
#submenu li.active a {
    font-weight: normal;
}

img {
    border: none;
}

span.workarea {
    margin-left: 20px;
}
/* Shop, tillagd av Kristian (Kaigan) 2012-10-10 */

table {
    font-size: 12px;
}

ul.shop {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
}

ul.shop li {
    float: left;
    height: 240px;
    margin: 0 10px 30px 0;
    min-width: 157px;
    overflow: hidden;
    position: relative;
}

ul.shop li.larger {
    height: 254px;
}

ul.shop li img {
    height: 200px;
}

ul.shop li img.remove {
    height: 20px;
    position: absolute;
    top: -0;
    right: -0;
    cursor: pointer;
}

ul.shop li img.deleted {
    position: absolute;
    height: 254px;
    width: 100%;
    top: 0;
    left: 0;
}

ul.shop li p {
    margin: 3px 0;
}

.break {
    margin-left: 24px !important;
}

p#description {
    text-align: center !important;
}

p#facebooklogo {
    clear: both;
    margin-top: 40px !important;
}
/* Fixes av Kristian (Kaigan) 2012-08-07*/

#contact li#contactInfo {
    bottom: 20px;
    left: 0px;
    position: static !important;
}

ul#contactList li {
    height: 260px;
    overflow: hidden;
    margin-right: 5px !important;
}

body#video span#prev,
body#video span#next {
    height: 80%;
}
/* Slut tillÃ¤gg */
/*  Head section  */

#head {
    height: 50px;
    position: relative;
    /*width: 860px;*/
}

#logo {
    border: none;
    float: left;
    left: 0px;
    position: absolute;
    top: 0px;
}

.menu {
    border-bottom: solid 1px #999999;
    border-top: solid 1px #999999;
    display: block;
    font-size: 12px;
    height: 18px;
    list-style: none;
    margin: 0px 0px 0px 330px;
    padding: 0px 0px 0px 0px;
    /*width: 630px;*/
}

.menu li {
    float: left;
    margin: 0 3% 0 0;
    padding: 1px 0px 0 0;
}

.menu li#last {
    margin: 0px 0px 0px 0px;
    padding: 1px 0px 0px 0px;
    text-align: right;
}

#head h1 {
    clear: both;
    color: #ffffff;
    float: left;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    padding: 2px 0px 0px 230px;
    width: 630px;
}

span#back_btn {
    position: absolute;
    top: 4px;
    right: 2px;
    background: transparent url(../images/leftarrow_notactive.png) no-repeat left center;
    cursor: pointer;
}

span#back_btn > span {
    display: inline-block;
    margin-left: 30px;
    margin-top: -2px;
}
/*  Submenu section */

.subcategory {
    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;
    margin-top: 30px;
}

#submenu {
    border-top: solid 1px #999999;
    float: left;
    list-style: none;
    margin: 0px 50px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: absolute;
    width: 180px;
}

#submenu li {
    padding: 1px 2px 1px 2px;
}

#submenu li#category {
    border-bottom: solid 1px #999999;
    margin: 0px 0px 2px 0px;
}

#submenu li p {
    border-top: solid 1px #999999;
    margin: 0px 0px 2px 0px;
    padding: 5px 0px 5px 0px;
}

#submenu li p a {
    padding: 0px 0px 0px 5px;
}

#submenu li a {
    display: block;
    outline: none;
}

#submenu li ul {
    display: none;
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#submenu li.active ul {
    display: block;
}

#submenu li.active ul li a {
    color: #000000;
    display: block;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 20px;
}

#submenu li.active ul li a:hover,
#submenu li.active ul li.active a,
#submenu li.active ul li a.active {
    background: image_url('subBullet.jpg') no-repeat 10px 5px;
    color: #ff0066;
}

#start #submenu {
    display: none;
}

#about #submenu {
    border-bottom: none;
    border-top: none;
}

#contact #submenu {
    border-bottom: none;
    margin: 0px 50px 50px 0px;
}
/*  Push section  */

#pushcol {
    float: left;
    margin: 0px 6px 0px 0px;
    width: 430px;
}

#pushcol #push {
    height: auto;
    overflow: hidden;
}

#pushcol #push img {
    width: 100%;
}

#pushcol #pushCategory {
    /*border: 1px solid #999999;
    height: 177px;*/
    padding: 15px 35px 15px 35px;
    margin-top: 10px;
}

#pushcol #pushCategory h1 {
    margin: 0px 0px 15px 0px;
    color: #c5e2e3;
    font-size: 3em;
}

#pushcol #pushCategory p {
    font-size: 13px;
    line-height: 12px;
}

#pushcol #pushCategory a {
    text-decoration: underline;
}

/*  Content section */

#contentContainer {
    position: relative;
    height: 100%;
    width: 100%;
}

#content {
    /*float: left;*/
    margin-left: 230px;
    min-height: 300px;
    position: relative;
}

#start #content {
    margin: 0px;
}

ul#contactList {
    /*height: 500px;*/
    list-style: none;
    margin: 0px 0px 0px 0px;
    /*overflow-y: scroll;*/
    padding: 0px 0px 0px 0px;
}

ul#contactList li {
    float: left;
    margin: 0px 6px 6px 0px;
    padding: 0px 0px 0px 0px;
}

ul#contactList li a strong {
    display: block;
    font-weight: normal;
    margin: 10px 0px 6px 0px;
}

ul#contactList li {
    float: left;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    width: 167px;
}

ul#contactList li img {
    border: none;
}

ul#contactList li p {
    margin: 0px 0px 0px 0px;
}

ul#contactList li a p strong {
    margin: 0px 0px 2px 0px;
}

#prev,
#imageHolder,
#next {}
/* #imageHolder - Ã¤ndra margin till 0px */

#imageHolder {
    margin: 0px;
    text-align: center;
}

#imageHolder p#description {
    text-align: left;
}

#imageHolder p#description a.bigimage {
    float: right;
    padding: 10px 0px 6px 0px;
    text-transform: none !important;
}

#prev a {
    background: transparent url(../images/leftarrow_notactive.png) no-repeat left center;
}

#prev a:hover {
    background: transparent url(../images/leftarrow_over.png) no-repeat left center;
}

#next a {
    background: transparent url(../images/rightarrow_notactive.png) no-repeat right center;
}

#next a:hover {
    background: transparent url(../images/rightarrow_over.png) no-repeat right center;
}

#prev,
#next {
    /* top: 25px; width: 30px; height: 20px; (ta bort alla min-height, min-width) */
    
    height: 20px;
    left: 0px;
    position: absolute;
    top: 25px;
    width: 30px;
}

#next {
    left: auto;
    right: 0px;
}
/* #next a, #prev a - Ã¤ndra sÃ¥ det bara Ã¤r display: block; height: 20px; width: 30px; */

#next a,
#prev a {
    display: block;
    width: 30px;
    height: 20px;
}
/* #prev a:hover { background: transparent url(../images/prev.jpg) no-repeat left 10px; } 
  #next a:hover { background: transparent url(../images/next.jpg) no-repeat right 10px; }*/

#cover p#description {
    clear: both;
    text-align: left;
}

#description {
    font-size: 12px;
    font-weight: normal;
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 0px 0px;
    text-align: left;
    width: 100%;
}

#description p {
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 6px 0px;
    text-align: left;
    width: 555px;
}

#description .bigimage {
    float: right;
    padding: 10px 0px 6px 0px;
    text-align: right;
    width: 75px;
}

.dist {
    display: inline-block;
    width: 20px;
}

p#description .animationLink a:hover,
h1#description .animationLink a:hover {
    color: #000000;
}

p#description .hairLink a:hover,
h1#description .hairLink a:hover {
    color: #cc00cc;
}

p#description .illustratorsLink a:hover,
h1#description .illustratorsLink a:hover {
    color: #ff3300;
}

p#description .photoLink a:hover,
h1#description .photoLink a:hover {
    color: #00ccff;
}

p#description .styleLink a:hover,
h1#description .styleLink a:hover {
    color: #00cc00;
}
/*  Footer section  */

#footer {
    clear: both;
    font-size: 10px;
    padding: 0px 0px 0px 0px;
}

#footer p {
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#footer ul {
    float: left;
    list-style: none;
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 0px;
}

#footer ul li {
    float: right;
    margin: 0px 0px 0px 5px;
    padding: 0px 0px 0px 0px;
}

/*    Menu colors   */


.menu li.active a,
.menu li a:hover,
#submenu li.active a,
#submenu li a:hover {
    color: #ff0066;
}

.contact #submenu li.active ul li a,
.contact #submenu li.active ul li a.active,
.contact #submenu li.active ul li a:hover {
    color: #000000;
}

#contact #contentContainer {
    position: relative;
    overflow: hidden;
}

#contact li#contactInfo {
    bottom: 20px;
    left: 0px;
    position: absolute;
}

img.bio {
    height: 267px;
    max-width: 630px;
}

div#social {
    margin: 0px auto 10px auto;
    /* width: 111px; */
    width: 294px;
}

div#social > iframe {
    width: 236px !important;
}

#start div#social {
    left: auto;
    margin: 0 auto;
    padding-bottom: 10px;
    position: inherit;
    top: auto;
}

div#social .facebook {
    margin-right: 5px;
    display: block;
    float: left;
    background: transparent url(../images/ab-share_bg.png) no-repeat 0px 0px;
    width: 23px;
    height: 23px;
}

div#social .twitter {
    margin-right: 5px;
    display: block;
    float: left;
    background: transparent url(../images/ab-share_bg.png) no-repeat -30px 0px;
    width: 23px;
    height: 23px;
}

div#social a.facebook:hover {
    background-position: 0px -30px;
}

div#social a.twitter:hover {
    background-position: -30px -30px;
}

/* Index Page Container */

#v_layout {
  margin-left: 450px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap:10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.v_box {
  display: block;
}

.v_box img {
  width: 100%;
}

#h_layout {
  overflow: hidden;
  min-width: 600px;
}

.h_row {
  display: block;
  overflow: hidden;
  min-width: 600px;
}

.h_box {
  float: none;
  position: relative;
  display: inline-block;
  margin-left: 4px;
}

.h_video_tag {
  width: 100%;
  height: 10%;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 3px;
  background: #000;
  opacity: 0.7;
}

.h_video_tag p {
  display: table;
  margin: auto;
  font-size: 16px;
  font-weight: bold;
  color: #909090;
}

#s_layout {
  display: block;
}

.s_box {
  width: 100%;
  height: 100%;
  position: relative;
}

.s_center_img {
  display: table;
  margin: auto;
}

.s_wrap_img {
  float: none;
  position: relative;
  display: inline-block;
}

//.s_box img {
//  display: table;
//  margin: 0 auto;
//}

.s_footer {
  float: none;
  position: relative;
  display: block;
  padding-top: 10px;
  width: 100%;
  height: 40px;
}

.s_footer_inner {
  display: table;
  margin: 0 auto;
}

.s_footer_inner a {
  padding-left: 10px;
  padding-right: 10px;
}

