  <div id="content">
    <div id="h_layout">
      <% @pics.each do |pic| %>
        <div class="h_box">
          <%= link_to( image_tag(pic.asset.url(:h_medium), class: :h_img), picture_path(pic) ) %>
          <% if !pic.video.blank? %>
            <div class="h_video_tag">
              <p>Video</p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
